/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Place all the styles related to the posts controller here.*/
/* They will automatically be included in application.css.*/
/*You can use Sass (SCSS) here: http://sass-lang.com/*/

 body {
	font-family: 'Raleway', sans-serif;
	background-color: #00FFFF;
}

h1, h2, h3, {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width:100px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 5px;
	border-right: 1px solid #d6dce0;
	#logo {
		width: 10px;
		margin-left: 5px;
		margin-top: 5px;
	}
	ul {
		list-style: none;
		text-align: left;
		padding-right: 5px;
		.category {
			font-weight: 600;
			font-size: 10px;
			text-transform: uppercase;
			color: #33acb7;
		}
		li {
			padding: 2px;
			a {
				color: #9eafba;
				text-decoration: none;
				transition: all .4s ease; 
				&:hover {
					color: #33acb7;
				}
			}
		}
		.active {
			a {
				color: #33acb7;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 10px;
		top: 80%;
		font-size: 16px;
		color: #9eafba;
	}
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: 10px;
	border-radius: 20px;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#main_content {
	margin-left: 10px;
	float: right;
	#header {
		padding:5px;
		border-bottom: 1px solid #d6dce0;
		background: #f5f7f9;
		color: #9eafba;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}
		.buttons {
			float: left;
			margin-top: -6px;
			.button {
				font-size: 5px;
				margin-left: 5px;
			}
		}
	}
	.post_wrapper {
		padding: 5px;
		border-bottom: 1px solid #d6dce0;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 15px;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: 5px 0 0 0;
		}
	}
	#post_content {
		padding: 5px;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 10px;
			margin-bottom: 0;
		}
		.body {
			font-size: 16px;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: 2px;
		}
		#comments {
			h2 {
				margin: 5px;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 10px;
			}
			h3 {
				margin-top: 10px;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 10px;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 10px;
						font-size: 10px;
						text-transform: uppercase;
					}
					.comment_body {
						font-size:16px;
						margin: 5px;
					}
					.comment_time {
						margin-top: 10px;
						font-size: 15px;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 10px;
		#profile_image {
			width: 100px;
			float: left;
			margin-right: 5px;
			img {
				width: 100%;
				border-radius: 25px;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size:16px;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 500;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: 15px;
		margin-top: 10px;
		padding: 10px;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: 5px;
		font-size: 10px;
		border-radius: 10px;
		margin-left: 5px;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
}	

.container {
	width: 75%;
	float: right;
	padding: 10px;
}

.navbar {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #ABCDEF;
}
.navbar ul {
    list-style-type: none; 
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    border:2px solid #FF0066;
    display:table;
    overflow: hidden;
}
.navbar li{
    float: left;
    padding: 2px;
    width: 150px;
    margin-left: auto ;
    margin-right: auto ;
}

.blogname {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
	font-family: cursive; 

}



 

